.wrapper {
  display: flex;
  margin-block: 96px;
  gap: 24px 48px;
  flex-wrap: wrap;
  --width: 300px;
}

.article {
  flex-basis: var(--width);
  flex-grow: 1;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.info {
  font-size: 1rem;
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
  margin-block-start: 4px;
}

.title {
  font-weight: 500;
  color: var(--accent);
}