.hero {
  width: 100%;
  height: calc(98vh - var(--navbar));
  background-color: var(--background-color);
  position: relative;
}

.hero img {
  /* opacity: 0.5; */
  object-fit: cover;
  user-select: none;
}

.content {
  --spacing: 64px;
  position: absolute;
  z-index: 2;
  bottom: var(--spacing);
  left: var(--spacing);
  transform: translateY(-50%, -50%);
}

.content h1 {
  font-size: 48px;
  font-weight: normal;
  margin-block-end: 8px;
  padding-inline-end: 16px;
}

@media (max-width: 768px) {
  .content {
    --spacing: 32px;
  }

  .content h1 {
    font-size: 32px;
  }
}