.mission {
  padding-block: 64px;
  padding-inline: var(--padding);
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    max-width: 14ch;
    font-weight: 500;
  }

  .static_content {
    color: #9b9f9f;
  }

  .spa {
    font-size: 4rem;
    font-size: clamp(4rem, 2.3rem + 8.5vw, 12.5rem);
    font-weight: 900;
    text-transform: uppercase;
    text-align: end;
    width: 100%;
  }
}

.mission .dynamic_content,
.mission .spa {
  transition: opacity 800ms ease-out;
}

.mission video {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: min(calc(100% - var(--padding) * 2), 800px);
  border-radius: 32px;
  object-fit: cover;
  box-shadow: 4px 4px 8px -6px var(--black);
  background-color: white;
  opacity: 0.9;

}

@media (max-width: 768px) {
  .mission {
    min-height: 70svh;
  }

  .mission video {
    top: 50%;
  }

  .mission .title {
    max-width: unset;
  }
}