.slider {
  padding-block: 96px;
}

.slider ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  cursor: grab;
  padding-block-end: 16px;
}

.slider ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.slider ul::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

.slider ul::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 9999px;
}

.slider li {
  aspect-ratio: 4 / 3;
  width: 300px;
  background-color: #ebe9e7;
  border-radius: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  position: relative;
  box-shadow: 4px 4px 8px -8px var(--black);
}

.slider li .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 500;
  transition: opacity 400ms ease-out;
  color: var(--black);
}


.slider li .content p:nth-of-type(1) {
  font-size: 24px;
}