.wrapper {}

.hero {
  position: relative;
  padding-block: 128px 96px;
  width: min(100% - 48px, 600px);
  margin-inline: auto;
}

.image {
  object-fit: cover;
  filter: blur(2px);
  opacity: 0.8;
}

.title {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 2;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 32px 64px;
}

.aside {
  grid-column: 2 / 6;
  display: flex;
  flex-direction: column;
}

.form {
  grid-column: 7 / 12;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.label {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  box-sizing: border-box;
  min-height: 32px;
  margin-block-start: 4px;
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: repeat(10, 1fr);
  }

  .aside {
    grid-column: 1 / 5;
  }

  .form {
    grid-column: 6/13;
  }
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
    padding-inline: 24px;
  }

  .aside,
  .form {
    grid-column: 1 / -1;
  }
}