.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper>section {
  padding-inline: var(--padding);
}

.header {
  padding-block-start: max(64px, calc(var(--padding) * 2));
}

.header .content h1 {
  font-size: var(--title-font-m);
  margin-block-end: 1em;
  font-weight: 500;
}

.header .content h1 code {
  font-family: unset;
  opacity: 0.6;
}

.header .content p {
  font-size: 22px;
  line-height: 28px;
}

.fad {
  padding-block-start: 96px;
}

.fad h1 {
  width: 100%;
  font-size: var(--title-font-s);
  font-weight: 500;
  padding-block-end: 4px;
}

.fad h1+p {
  padding-block-end: var(--padding);
}

.fad .content {
  display: grid;
  gap: var(--padding);
}

.fad aside input {
  border: none;
  border-bottom: 2px solid;
  font-size: 18px;
  line-height: 22px;
  padding-block: 0.3em;
  outline: 0;
}

.fad iframe {
  aspect-ratio: 3;
  width: 100%;
}

.about_cta {
  padding-block: var(--padding);
  position: relative;
  
}

.about_cta .content h1 {
  font-size: var(--title-font-s);
  font-weight: 400;
  margin-block-end: 0.5em;
}

.about_cta .content>*:not(h1) {
  font-size: 22px;
  line-height: 28px;
}

.about_cta .content p {
  margin-block-end: 1em;
}

.about_cta .content a {
  color: unset;
}

.about_cta img {
  aspect-ratio: 3;
  object-fit: cover;
  display: block;
  margin-block-start: var(--padding);
}

.keys {
  padding-block: calc(var(--padding)* 2);
}

.keys h1 {
  font-size: var(--title-font-s);
  font-weight: 500;
  max-width: 70%;
  margin-block-end: 2em;
}

.keys .main {
  display: flex;
  gap: var(--padding);
}

.keys .main aside {
  border-radius: 16px;
  box-shadow: 4px 4px 4px -2px #00000055;
  overflow: hidden;
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  aspect-ratio: 4 / 3;
  position: relative;
}

.keys .main img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.keys .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keys .list details+details {
  margin-block-start: var(--padding);
}

.keys .list summary {
  font-size: 32px;
}

.keys .list details p {
  max-width: 60ch;
  font-size: 18px;
  line-height: 22px;
  padding-inline: 16px;
  padding-block-start: 0.6em;
}

@media (max-width:1200px) {
  .header .content {
    grid-column: 1 / 9;
    text-align: left;
  }

  .header .content p {
    margin-inline-start: 0;
  }

  .header .object.left {
    display: none;
  }

  .fad aside {
    flex-grow: 1;
  }

  .about_cta {
    height: unset;
  }

  .about_cta .content {
    display: flex;
    flex-direction: column;
    padding-block: 96px;
    gap: 96px;
  }

  .about_cta img {
    animation: none !important;
  }

  .keys .main {
    flex-direction: column;
  }

  .keys details summary {
    list-style: none;
    opacity: 0.8;
    transition: opacity 300ms ease;
    cursor: pointer;
    position: relative;
    width: fit-content;
    --_width: 0;
  }

  .keys details summary::after {
    content: '';
    height: 2px;
    width: var(--_width);
    background-color: currentColor;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: width 300ms ease;
  }

  .keys details summary:hover,
  .keys details[open] summary {
    --_width: 100%;
    opacity: 1;
  }

  .keys details summary::-webkit-details-marker {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header {
    display: block;
  }

  .header .content {
    text-align: center;
    margin-block-end: 64px;
    margin-block-start: 96px;
  }

  .header .content p {
    margin-inline: auto;
    width: unset;
  }

  .header .object.right {
    align-items: start;
  }

  .header .object.right img {
    width: 50%;
  }

}