:root {}

* {
  box-sizing: border-box;
}

body {
  --black: hsl(0, 0%, 14%);
  --white: #fefefe;
  --background-color: var(--black);
  --background-1: rgb(61 61 61 / 40%);
  --background-2: #292929;
  --background-4: hsl(0, 0%, 35%);
  --background-5: hsl(0, 0%, 27%);
  --background-9: hsl(0, 0%, 87%);
  --color: var(--white);
  --color-gray: hsl(0, 0%, 59%);
  --color-8: hsl(0, 0%, 80%);
  --accent: hsl(44, 57%, 67%);
  --accent-50: #281432;
  --accent-10: #1b0d2e;
  /* --font-main: 'Inter', 'Arimo', sans-serif;
    --font-title: 'Geologica', serif; */
  --navbar: 80px;
  --padding: 48px;
  /* font-family: var(--font-main); */
  background-color: var(--background-color, #3d3d3d);
  color: var(--color);
  -webkit-tap-highlight-color: transparent;
}

body:has(#theme-light) {
  --background-color: var(--white);
  --color: var(--black);
  --color-gray: hsl(0, 0%, 35%);
}

html,
body {
  /* TODO: Fix colors */
  /* scrollbar-gutter: stable; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p.italic {
  font-style: italic;
  font-family: var(--font-title);
}

.main-section {
  padding-block: 128px;
  max-width: min(calc(100% - 96px), 1440px);
  margin-inline: auto;
}

@media (max-width: 768px) {
  .main-section {
    max-width: min(calc(100% - 48px), 1440px);
  }
}

.hero__subtitle {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.85rem + 1.375vw, 2.5rem);
  font-weight: 300;
  text-transform: uppercase;
}

.hero__title {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.3rem + 2.25vw, 4rem);
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.article__title {
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.article__content {
  font-size: 1rem;
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
  font-weight: 300;
  margin-block: 16px;
  color: var(--color);

  & b {
    font-weight: 500;
    color: var(--accent);
  }
}

@media (max-width: 768px) {
  body {
    --padding: 16px;
  }

}