.main section>[role=heading] {
  margin-block: var(--padding) max(var(--padding), 64px);
  font-size: min(8vw, 72px);
  font-weight: 500;
}

.main a {
  color: black;
  background-color: var(--accent);
  text-decoration: none;
  padding: 16px calc(var(--padding) * 0.5);
  border-radius: 24px;
  font-size: 18px;
  min-width: min(100%, 30ch);
  text-align: center;
  display: block;
}

/* Banner */
.main .banner {
  height: 100svh;
  padding: var(--padding);
  /* background: linear-gradient(#DBCAAD, #000); */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.main .banner .header {
  grid-column: 1 / 1;
  align-self: end;
}

.main .banner video {
  align-self: end;
  max-width: 100%;
  /* mix-blend-mode: hard-light; */
}

.main .banner .header h1 {
  font-weight: 400;
  font-size: 22px;
}

.main .banner .header h2 {
  font-size: 3.5rem;
  font-size: clamp(3.5rem, 3rem + 2.5vw, 6rem);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.main .banner .header span:nth-child(1)::after,
.main .banner .header span:nth-child(2)::before {
  content: '-'
}

/* Mission */
.main .mission {
  padding-inline: var(--padding);
  padding-block: calc(var(--padding) * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 128px;
}

.main .mission [role=heading] {
  font-size: min(10vw, 96px);
}

.main .mission [role=contentinfo] {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.main .mission [role=contentinfo] p {
  max-width: 40ch;
  text-wrap: balance;
  font-size: 18px;
}

.main .mission [role=contentinfo] a {
  background-color: var(--accent);
}

/* SERIES */
.main .series a {
  background-color: var(--white);
}

.main .series .serie {
  height: 100lvh;
  position: relative;
  display: grid;
  align-items: end;
  padding: max(var(--padding), 48px) calc(var(--padding) * 1.5);
  background-color: black;
  position: sticky;
  top: 0;
}

.main .series .serie img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  inset: 0;
  object-fit: cover;
  opacity: 0.8;
}

.main .series .serie [role=contentinfo] {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
  color: var(--white);
}

.main .series .serie .subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.main .series .serie .title {
  font-size: 48px;
}

.main .cta {
  padding-block-start: 96px;
  overflow: hidden;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
}

.main .cta [role=contentinfo] p:first-child {
  font-size: 48px;
  padding-inline: var(--padding);
  font-weight: 500;
}

.main .cta [role=contentinfo] {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 32px;
  align-items: flex-start;
  padding-inline: var(--padding);
}

.main .cta [role=contentinfo] p {
  font-size: 22px;
  flex: 1;
  min-width: 25ch;
}


.main .keys {
  padding: var(--padding);
  padding-block-start: 96px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  max-width: 160ch;
  margin-inline: auto;
  gap: 48px 80px;
}

.main .keys [role=heading] {
  font-size: 48px;
  margin-block: var(--padding);
}

.main .keys [role=list] {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  padding-block: var(--padding);
}

.main .keys .title {
  font-size: 22px;
  font-weight: 500;
  margin-block-end: 8px;
}

.main .keys [role=listitem] {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.main .keys [role=listitem] img {
  height: 64px;
  object-fit: contain;
  width: fit-content;
}

.main .keys .subtitle {
  min-width: 25ch;
  margin-block-start: auto;
}

.main .keys a {
  width: fit-content;
}

.main .news a {
  color: unset;
  background-color: unset;
  padding: unset;
  text-align: unset;
}

.main .news {
  padding: var(--padding);
}

.main .news>[role=heading] {
  /* font-size: 48px;
  margin-block: var(--padding); */
}

.main .cta_form {
  padding: var(--padding);
  /* min-height: 100lvh; */
}

.main .cta_form [role='heading'] {
  /* font-size: 48px;
  margin-block: var(--padding) 0; */
  margin-block-end: 0;
}

.main .cta_form form {
  max-width: 600px;
  /* margin-inline: auto; */
  margin-block: calc(var(--padding) * 1.5);
}

.main .cta_form form a {
  margin-block-start: calc(var(--padding) * 1.5);
}

.main {
  --padding: 48px;
}

@media (max-width: 768px) {
  .main {
    --padding: 16px;
  }

  .main img.title {
    margin-block-start: 64px;
  }
}