.home {
  padding-inline: 32px;
}

.center {
  text-align: center;
  width: 100%;
}

.center h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.center button {
  width: fit-content;
  font-weight: 300;
  padding: 10px 48px;
  border-radius: 5rem;
  border: 0;
  outline: 0;
  background-color: var(--color);
  color: var(--background-color);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}

.left {
  align-items: flex-start !important;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1rem + 1.1vw, 2.25rem);
  line-height: 30px;
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 32px;
}

.left p {
  text-wrap: balance;
  line-height: 1.3;
}

.parallax_content {
  text-align: center;
}

.parallax_content .parallax_title {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.75rem + 1.875vw, 3rem);
  font-weight: 300;
  text-transform: uppercase;
}

.parallax_content .parallax_subtitle {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.intro {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(12, 1fr);
  padding-block: 64px;
  gap: 64px;
  min-height: 100dvh;
  margin-block-end: 64px;
}

.intro aside {
  grid-column: span 4;
  position: relative;
}

.intro aside img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro section {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column: span 8;
}

.intro section>p {
  font-size: 96px;
  font-weight: bold;
}

.intro section>p:last-of-type {
  color: var(--accent);
}

.intro section footer {
  margin-top: auto;
  text-transform: uppercase;
  font-size: 26px;
  max-width: 80%;
  margin-inline-start: auto;
  padding: 64px;
  padding-block-end: 32px;
}

.intro section footer p+p {
  margin-block-start: 8px;
}

.intro section footer code {
  font-family: inherit;
  color: var(--accent);
}

.splash {
  font-size: 96px;
  text-transform: uppercase;
  line-height: 120px;
  padding: 96px;
}

.splash code {
  font-family: inherit;
  color: var(--accent);
}

.splash p:nth-child(3) {}

.splash p:last-child {
  width: 80%;
  margin-left: auto;
}



@media (max-width: 768px) {
  .home {
    padding-inline: 16px;
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .intro aside img {
    width: 100%;
    height: auto;
    max-height: 700px;
  }

  .intro section {
    margin-block: 32px;
  }

  .intro section>p {
    font-size: 64px;
  }

  .intro section footer {
    max-width: 100%;
    font-size: 22px;
    padding: 0;
  }

  .splash {
    padding: 48px 0;
    font-size: 32px;
    line-height: 40px;
  }

  .splash p:last-child {
    width: fit-content;
  }
}