.main section>[role=heading] {
  margin-block: var(--padding) max(var(--padding), 64px);
  font-size: min(8vw, 72px);
  font-weight: 500;
}

.main a {
  color: black;
  background-color: var(--accent);
  text-decoration: none;
  padding: 16px calc(var(--padding) * 0.5);
  border-radius: 24px;
  font-size: 18px;
  min-width: min(100%, 30ch);
  text-align: center;
  display: block;
}

/* Banner */
.main .banner {
  height: 100svh;
  padding: var(--padding);
  position: relative;
  display: grid;
  place-content: center;
  background-color: white;
  overflow: hidden;
}

.main .banner .header {
  grid-column: 1 / 1;
  align-self: end;
  z-index: 1;
  font-weight: 500;
  font-size: 7rem;
  padding-block-start: 2em;
  color: var(--black);
}

.main .banner .header h1,
.main .banner .header h2 {
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  filter: blur(12px);
  opacity: 0.1;
}

.main .banner .header h2 {
  animation-delay: 0.7s;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0.1;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.main .banner video {
  align-self: end;
  height: auto;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;

  /* mix-blend-mode: hard-light; */
}

.main .banner .header h2 {
  font-weight: 400;
  font-size: 22px;
}

.main .banner footer {
  position: absolute;
  bottom: var(--padding);
  width: 100%;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  filter: blur(12px);
  opacity: 0.1;
  animation-delay: 1s;
}

.main .cta h2 {
  font-size: 3.5rem;
  font-size: clamp(3.5rem, 3rem + 2.5vw, 6rem);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.main .cta h2 span:nth-child(1)::after,
.main .cta h2 span:nth-child(2)::before {
  content: '-'
}

/* CTA */
.main .cta {
  padding-block: 96px;
  overflow: hidden;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
}


.main .cta [role=contentinfo] {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 32px;
  align-items: flex-end;
  justify-content: space-between;
  padding-inline: var(--padding);
  margin-block-end: var(--padding);
}

.main .cta [role=contentinfo] p {
  font-size: 22px;
  max-width: 50ch;
}

/* SERIES */
.main .series a {
  background-color: var(--white);
}

.main .series .serie {
  height: 100lvh;
  position: relative;
  display: grid;
  /* align-items: end; */
  padding: max(var(--padding), 96px) calc(var(--padding) * 1.5);
  background-color: black;
  position: sticky;
  top: 64px;
  animation: transformate linear both;
  animation-timeline: view();
  overflow: hidden;

}

@keyframes transformate {
  100% {
    transform: scale(0.85);
    border-radius: 36px;
  }
}

.main .series .serie img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  inset: 0;
  object-fit: cover;
  opacity: 0.7;
  object-position: bottom;
}

.main .series .serie [role=contentinfo] {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
  color: var(--white);
}

.main .series .serie p {
  font-size: 18px;
  text-transform: uppercase;
}

.main .series .serie .title {
  font-size: 64px;
  text-transform: unset;
}

.main .serie a {
  font-size: 22px;
}

.main .keys {
  padding-block: 96px;
  padding-inline: var(--padding);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 48px 80px;
}

.main .keys>div {
  max-width: 60ch;
}

.main .keys>div a {
  margin-block-start: auto;
}

.main .keys [role=heading] {
  font-size: 48px;
  font-weight: 500;
}

.main .keys [role=contentinfo] {
  font-size: 18px;
  line-height: 24px;
  margin-block: var(--padding);
}

.main .keys [role=list] {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  padding-block-start: 24px;
}


.main .keys [role=listitem] {
  display: flex;
  align-items: flex-start;
  gap: 16px 32px;
}

.main .keys .title {
  font-size: 28px;
  font-weight: 500;
  margin-block-end: 16px;
}

.main .keys [role=listitem] img {
  height: 64px;
  object-fit: contain;
  width: fit-content;
}

.main .keys .subtitle {
  min-width: 25ch;
  margin-block-start: auto;
  font-size: 18px;
  line-height: 22px;
}

.main .keys a {
  width: fit-content;
}

.main .news a {
  color: unset;
  background-color: unset;
  padding: unset;
  text-align: unset;
}

.main .news {
  padding: var(--padding);
}

.main .news>[role=heading] {
  /* font-size: 48px;
  margin-block: var(--padding); */
}

.main .cta_form {
  padding: var(--padding);
  /* min-height: 100lvh; */
}

.main .cta_form [role='heading'] {
  /* font-size: 48px;
  margin-block: var(--padding) 0; */
  margin-block-end: 0;
}

.main .cta_form form {
  max-width: 600px;
  /* margin-inline: auto; */
  margin-block: calc(var(--padding) * 1.5);
}

.main .cta_form form a {
  margin-block-start: calc(var(--padding) * 1.5);
}

.main {
  --padding: 48px;
}

@media (max-width: 768px) {
  .main {
    --padding: 16px;
  }

  .main .banner .header {
    font-size: 5rem;
  }

  .main .banner video {
    width: 120%;
    top: 30%;
  }

  .main img.title {
    margin-block-start: 64px;
  }

  .main .keys [role=listitem] {
    flex-wrap: wrap;
  }
}