.banner {
  height: 100svh;
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, 1fr);
  padding: var(--padding);
  color: white;
  background-color: var(--black);
}

.banner_highlights,
.banner_title {
  position: relative;
  z-index: 1;
}

.banner_highlights {
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1ch;
}

.banner_highlights p {
  font-weight: 500;
  font-size: 22px;
}

.banner_title {
  grid-row: 3;
  align-self: self-end;
}

.banner_title h1 {
  font-size: clamp(4rem, 3rem + 5vw, 9rem);
  font-weight: 900;
  text-transform: uppercase;
  margin-block-end: .25em;
}

.banner_img {
  object-fit: cover;
  z-index: 0;
  opacity: 0.8;
}

.description {
  padding: calc(var(--padding) * 2) var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: max(var(--padding), 32px);
}

.description_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description_content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-block-end: 1em;
}

.description_content p {
  font-size: 18px;
}

.specifications {
  gap: 32px;
  margin-block-start: auto;
  flex-wrap: wrap;
}

.specifications,
.specifications .detail {
  display: flex;
}

.specifications .detail {
  gap: 8px;
}

.specifications .detail .title {
  font-size: 16px;
}
.specifications .detail .content {
  font-size: 32px;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.video video {
  width: 100vw;
  height: auto;
}

.design {
  padding: var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: var(--padding);
}

.design .main {
  display: flex;
  flex-direction: column;
}

.design .main .img {
  margin-block-start: auto;
}

.design .heading {
  font-size: 18px;
}

.design .title {
  font-size: 22px;
  font-weight: 600;
  margin-block-end: 1em;
}

.design .content {
  font-size: 18px;
}

.design .aside img {
  aspect-ratio: 4.75 / 5;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: var(--padding);
}

.card {
  display: grid;
  grid-template-areas:
    "img title title"
    "img subtitle subtitle"
  ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.card .img { 
  grid-area: img;
  aspect-ratio: 1;
  width: 96px;
  object-fit: cover;
}

.card .title,
.card .subtitle
 {
  align-self: center;
 }

.card .title { 
  grid-area: title;
  font-size: 22px;
  font-weight: 600;
}

.card .link { 
  grid-area: subtitle; 
}

.datasheet {
  padding: var(--padding);
}

.section {
  padding: var(--padding);
}

.section .title {
  font-size: 24px;
  font-weight: 600;
  margin-block-end: 1em; 
}