.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}


.form {
  flex-grow: 1;
}

.form h1 {
  font-weight: 500;
  font-size: 28px;
  margin-block-end: 1em;
  display: none;
}

.aside {
  width: 100%;
}

.aside header h1,
.aside header h2 {
  font-weight: 400;
}

.container h1,
.aside header h1 {
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
  margin-block-start: 1rem;
  text-wrap: balance;
  font-weight: 500;
  margin-block: 0 16px;
}

.aside header h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3rem + 0.875vw, 2.5rem);
  text-align: center;
  font-weight: 300;
}

.aside header h1 strong {
  font-weight: 600;
}

.aside header h2 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.quickForm form {
  display: grid;
  grid-template-columns: 3fr 9fr 3fr;
  padding-block: 32px;
  margin-block: 24px;
}

.quickForm form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-8);
  outline: none;
  margin-block: 0;
}

.inputWrapper {
  background-color: white;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  padding: 8px 16px;
  border: 2px solid var(--background-2);
  grid-column: 2;
}

.inputWrapper>* {
  flex: 1 1 100%;
}

.inputWrapper .wrapper {
  position: relative;
}

.inputWrapper .wrapper::after {
  content: attr(data-label);
  position: absolute;
  top: 30%;
  left: 1%;
  pointer-events: none;
  transition: all 0.1s;
}


.inputWrapper .wrapper:has(input:valid)::after,
.inputWrapper .wrapper:focus-within::after {
  /* content: ''; */
  font-size: 12px;
  top: -10%;
  left: 0;
  /* 
  color: var(--color-8);
  font-weight: 600; */
}

.inputWrapper button {
  margin-block: 2px !important;
  background-color: var(--black);
  color: var(--white);
  display: block;
  align-self: stretch;
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 4px;
  font-size: 15px;
  flex: 1 1 100%;
}


.aside [role=main] {
  display: flex;
  container-name: counter;
  overflow: hidden;
  margin-block-start: 48px;
}

.aside [role=main] p {
  font-weight: 700;
  font-size: 16cqw;
}

.aside [role=main] .current {
  min-width: 1ch;
  text-align: center;
}

.form .question {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form .question+.question {
  margin-block-start: 32px;
}

.form label {
  font-size: 18px;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 1px solid var(--background-4);
  width: 100%;
  font-size: 20px;
  padding: 8px 16px;
  outline: 1px solid transparent;
  margin-block-start: 8px;
  scroll-padding-block: 3em;
  background-color: var(--background-color);
  color: var(--color);
  transition: outline 150ms ease;
}

.form input:focus,
.form textarea:focus {
  outline-color: inherit;
}

.form textarea {
  font-family: unset;
}

.form .actions {
  margin-block-start: 8px;
  text-align: end;
  grid-column: 2;

}


.form .actions button[aria-hidden=true] {
  cursor: not-allowed;
  opacity: 0.3;
}

.form button {
  margin-block-start: 8px;
}

.form .actions .loading {
  opacity: 0.8;
  cursor: wait;
}

.dialog[aria-hidden=true] {
  pointer-events: none;
}

.dialog[aria-hidden=true] .mask {
  opacity: 0;
}

.dialog[aria-hidden=true] main {
  transform: translateY(50px);
  opacity: 0;
}

.dialog .mask {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--color); */
  /* opacity: 0.1; */
}

.dialog {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 1;
  padding-inline: var(--padding);
}

.dialog main {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  color: var(--color);
  /* border-radius: 6px; */
  border: 1px solid;
  padding: var(--padding);
  transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 300ms ease;
  box-shadow: 2px 2px 8px -4px var(--color);
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}


.dialog main h1 {
  font-size: 48px;
  font-weight: 400;
  flex: 2;
}

.dialog main .column {
  flex: 1;
}

.dialog .column .action {
  text-align: end;
}

.dialog main h2 {
  font-weight: 400;
  margin-block-end: 32px;
  font-size: 18px;
}

.error {
  margin-block-start: 1em;
  margin-inline-start: 0.5em;
  color: red;
}

.tos {
  margin-block: 0.3rem;
  font-size: 12px;
}

.tos a {
  display: unset !important;
  color: unset !important;
  font-size: unset !important;
  text-decoration: underline !important;

}

@media (max-width: 1000px) {
  .form h1 {
    display: block;
  }

  .form {
    display: block !important;
  }

  .form .inputWrapper {
    display: grid;
    justify-content: stretch;
  }

  .form .inputWrapper button {
    padding-block: 12px;
  }

}