.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  padding-block: 16px;
  padding-inline: var(--padding);
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 70ms ease-in;
  height: 54px;
}

.wrapper[aria-hidden=true] {
  transform: translateY(-100%);
}

.wrapper .home {
  color: var(--color);
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  flex-grow: 1;
}

.wrapper .burger {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapper .burger>* {
  cursor: pointer;
}

.wrapper .burger img {
  width: 16px;
  height: 16px;
}

.submenu {
  position: fixed;
  background-color: var(--background-color);
  left: 0;
  top: 54px;
  width: 100%;
  padding-block: 32px;
  padding-inline: 48px;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 150ms ease-in, padding-block 150ms ease-in;
}

.submenu[aria-hidden=true] {
  grid-template-rows: 0fr;
  padding-block: 0;
}

.submenu .links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.submenu .group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.submenu .group:first-child {
  font-size: 24px;
}

.submenu a {
  color: #666;
  text-decoration: none;
}

.submenu a:hover {
  color: var(--color);
}

.theme {
  width: 18px;
  height: 18px;
  margin-inline-end: 16px;
}