.close[aria-hidden="true"],
.menu[aria-hidden="true"] {
  left: -100vw;

}

.mask[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

.close {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 120;
  cursor: pointer;
  transition: left 300ms ease;
}

.close--img {
  width: 42px;
  height: 42px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: 80;
  background-color: rgba(0 0 0 / 0.7);
  backdrop-filter: blur(3px);
  transition: opacity 800ms, visibility 800ms;
}

.menu {
  --width: 400px;

  padding: 64px 32px;
  position: fixed;
  top: 24px;
  left: 0;
  height: 100vh;
  width: var(--width);
  z-index: 99;
  transition: left 800ms;
}

.menu [role=contentgroup] {
  margin-block: 1em;
}

.menu ul:has(li[role=heading]) li:not(:first-child) {
  padding-inline-start: 2em;
}

.menu li {
  margin-block: 1.3em;
}

.menu li a {
  color: var(--color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

.menu li a:hover {
  text-decoration: underline;
}


@keyframes show {
  from {
    opacity: 0;
    left: 101vw;
  }

  to {
    left: 0;
    opacity: 1;
  }
}