.list {
  margin-block: 8px;
}

.list li {
  border: 1px solid white;
  display: flex;
  gap: 4px;
}

.list li+li {
  margin-block-start: 8px;
}

.list li img {
  display: block;
  aspect-ratio: 1;
  height: 64px;
  object-fit: cover;
}

.list li .info {
  padding-block: 8px;
}

.list li .info p {
  font-size: 18px;
}

.list li .info small {
  color: #ddd;
}