.form {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.form>*:first-child {
  /* border-top: 1px solid var(--background-5); */
  padding-block-start: 32px;
}

.actions {
  width: 100%;
}

.actions .info {
  transition: opacity 300ms ease;
  width: 100%;
  opacity: 0;
  font-size: 18px;
}

.actions label {
  display: block;
  font-size: 20px;
  margin-block-end: 8px;
  display: flex;
  align-items: center;
}

.actions label input {
  width: 20px;
  height: 20px;
}

.actions .info[aria-hidden="false"] {
  opacity: 1;
  margin-block: 16px;
}

.actions .button {
  display: block;
  margin-inline-start: auto;
  background-color: var(--color);
  color: var(--background-color);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 24px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 300;
  min-width: 60%;
  border: none;
  outline: 1px solid transparent;
  transition: outline-color 300ms ease;
}

.actions .button:focus {
  outline-color: var(--color);
}

.label {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  box-sizing: border-box;
  min-height: 32px;
  margin-block-start: 4px;
}

.tos {
  justify-content: flex-end;
  font-size: 16px !important;
}

.tos a {
  margin-inline-start: 0.5ch;
}