.header {
  background-color: var(--background-1);
  height: 80px;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
