.header {
  background-color: var(--background-color);
  height: var(--navbar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  z-index: 9;

  .image {
    height: 16px;
    width: auto;
    cursor: pointer;
  }

  .image:last-of-type {
    height: 20px;
  }

  .logo {
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 200;
  }

  .logo img {
    width: auto;
    height: 42px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
    color: unset;
  }

  .link:hover {
    text-decoration: underline;
  }
}

.header.transparent {
  background-color: transparent;
}

@media (max-width: 768px) {
  .header .logo {
    font-size: 24px;
  }
}