.wrapper {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--background-5);
  background-color: var(--background-2);
  padding: 8px 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 300ms ease;
  outline: 1px solid transparent;
}

.wrapper:focus-within {
  border-color: var(--background-4);
}

.label {
  color: var(--background-9);
  display: flex;
  flex-direction: column;
  color: var(--color-8);
  font-size: 14px;
  gap: 4px;
  width: 100%;
}


.input {
  font-size: 18px;
  color: var(--color);
  background-color: transparent;
  border: none;
  outline: 0;
  width: 100%;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--background-2) inset !important;
  -webkit-text-fill-color: var(--color) !important;
}

.icon {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  height: 24px;
}

.rotate {
  animation: rotate 900ms infinite forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }

}