.wrapper {
  width: 100%;
  border: none;
  /* border-bottom: 1px solid var(--background-5); */
  background-color: var(--background-color);
  padding-block: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 300ms ease;
  outline: 1px solid transparent;
}

.wrapper:focus-within {
  border-color: var(--color);
  border-width: 2px;
}

.label {
  color: var(--color);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;
  width: 100%;
}

.label span {
  padding-inline-start: 16px;
}

.input {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
  background-color: transparent;
  border: 1px solid;
  padding: 16px;
  outline: 0;
  width: 100%;
  border-radius: 16px;
}

.icon {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  height: 24px;
}

.rotate {
  animation: rotate 900ms infinite forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }

}