.form {
  max-width: min(calc(100% - 96px), 1440px);
  margin-inline: auto;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
  margin-block-end: 24px;
}

.subtitle {
  font-weight: lighter;
  font-size: 14px;
}