.footer {
  padding-block: 64px 32px;
  padding-inline: 32px;
}

.logo {
  border-bottom: 1px solid #7D7056;
  margin-block-end: 32px;
}

.title {
  font-size: 28px;
  margin-block-end: 32px;
  font-weight: 600;
  color: #7D7056;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
  padding-block-end: 16px;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list:last-of-type {
  margin-inline-start: auto;
  text-align: right;
}

.link {
  color: var(--color);
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  display: inline;
}

.link:hover {
  text-decoration: underline;
}