.footer a {
  color: var(--white);
  text-decoration: none;

}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  outline: 1px solid;
  outline-offset: 2px;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  margin-block-start: 64px;
  padding-block-start: 32px;
}

.header,
.legal {
  padding-inline: var(--padding);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 48px;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}

.cta a {
  background-color: var(--white);
  padding: 8px 16px;
  border-radius: 12px;
  color: var(--black);
  width: fit-content;
}

.cta p {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
}

.header .links {
  display: flex;
  align-items: flex-start;
  gap: 16px 32px;
  flex: 1;
}

.header .links .group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.main {
  width: 100%;
  margin-block: 0;
}

.main img {
  height: 40px;
  width: auto;
}

.legal {
  border-top: 1px solid;
  margin-block-start: 32px;
  padding-block: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}



@media (max-width: 768px) {
  .links {
    flex-direction: column;
  }

  .legal {
    justify-content: space-evenly;
  }
}