.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 36px;
}

.posts {
  grid-column: span 8;
}

.img {
  grid-column: span 4;
  flex-shrink: 0;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 300ms ease-out;
}

.img img[aria-hidden=true] {
  opacity: 0;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.post {
  border-top: 1px solid;
  color: var(--color-gray);
  padding-block: 16px;
  transition: color 300ms ease-out;
  user-select: none;
}

.post:hover {
  color: var(--color);
}

.post:hover .caret {
  opacity: 1;
}

.post [role=title] {
  font-size: 36px;
  margin-block-end: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-inline-end: 32px;
  align-items: center;
}

.post [role=title]:hover {
  text-decoration: underline;
}

.post .caret {
  opacity: 0;
  color: var(--accent);
  transition: opacity 300ms ease-out;
}

.wrapper .link {
  grid-column: 5 / -1;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 4px;
  margin-block-start: auto;
  width: fit-content;
}

.link * {
  border: 1px solid var(--color);
  min-width: unset;
  padding: 8px 16px !important;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .posts,
  .img,
  .wrapper .link {
    grid-column: 1 /-1;
  }

  .img {
    min-height: 300px;
  }

  .wrapper .link {
    justify-content: center;
    justify-self: center;
  }

}