.container {
  margin-block-start: 64px;
  padding-block: calc(var(--padding) * 2);
  /* background: linear-gradient(var(--background-color) 50%, #ffd03488 40%); */
  padding-inline: var(--padding);
}

.carousel {
  width: 100%;
  cursor: grab;
  overflow-x: auto;
  overflow-y: clip;
  display: flex;
  gap: calc(var(--padding) / 2);
}

.title {
  font-size: 22px;
  margin-block-end: 0.5em;
  padding-inline-start: 0.5em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.carousel .img_wrapper {
  height: 400px;
  width: auto;
  aspect-ratio: 4 / 3;
  border-radius: 16px;
  overflow: hidden;
  margin-block-end: 32px;
}

.carousel img {
  height: 400px;
  width: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-block-end: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px -6px var(--color);
  transition: transform 3s ease;
}

/* 
.carousel img:hover {
  transform: scale(1.1);
} */

.carousel p {
  font-size: 18px;
  color: var(--color);
  padding-inline: 16px;
  line-height: 22px;
}

.carousel::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.carousel::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.carousel::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 9999px;
}

@media (max-width: 768px) {
  .title {
    justify-content: flex-end;
  }

  .carousel {
    scroll-snap-type: x proximity;
  }

  .carousel .item {
    width: 100%;
    scroll-snap-align: start;
  }

  .carousel p {
    margin-block: var(--padding);
  }

  .carousel .img_wrapper,
  .carousel img {
    width: 100%;
  }
}