.wrapper {
  width: 100%;
  border: none;
  background-color: var(--background-color);
  color: var(--color);
  padding-block: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 300ms ease;
  outline: 1px solid transparent;
}

.wrapper:focus-within {
  border-width: 2px;
  border-color: var(--background-4);
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color);
  font-size: 14px;
  gap: 4px;
}


.input {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
  background-color: transparent;
  border: 1px solid;
  padding: 16px;
  outline: 0;
  width: 100%;
  border-radius: 16px;
  font-family: unset;
}

.icon {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  height: 24px;
}